body {
	background-color: "#f0eff6";
}
.rightMenu {
    position: absolute;
    top:-10%;   
    right:-2%;
    width: 100px !important;
}

.rightMenu .ui-collapsible-content .ui-listview {
    margin: -10px -15px -10px -35px !important;
}